# Python
__pycache__/
.py[cod]
*.pyc
.python-version
.direnv/
.venv/


# Environment Variables
.env
.envrc~
.evn.*

# Node/ Next.js
node_modules/
.next/
dist/
out/

# Logs & tmp
*.log
tmp/

# macOS
.DS_Store
